<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_A</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
  </array>
  <key>@MMK_L_B</key>
  <array>
    <string>B</string>
    <string>germandbls</string>
  </array>
  <key>@MMK_L_C</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
  </array>
  <key>@MMK_L_E</key>
  <array>
    <string>E</string>
    <string>AE</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>OE</string>
  </array>
  <key>@MMK_L_O</key>
  <array>
    <string>O</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
  </array>
  <key>@MMK_L_S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
  </array>
  <key>@MMK_L_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@MMK_L_a</key>
  <array>
    <string>a</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
  </array>
  <key>@MMK_L_c</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
  </array>
  <key>@MMK_L_n</key>
  <array>
    <string>n</string>
    <string>ntilde</string>
  </array>
  <key>@MMK_L_u</key>
  <array>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
  </array>
  <key>@MMK_R_A</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
  </array>
  <key>@MMK_R_O</key>
  <array>
    <string>O</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>OE</string>
  </array>
  <key>@MMK_R_S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
  </array>
  <key>@MMK_R_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@MMK_R_a</key>
  <array>
    <string>a</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
  </array>
  <key>@MMK_R_c</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
  </array>
  <key>@MMK_R_e</key>
  <array>
    <string>e</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
  </array>
  <key>@MMK_R_i</key>
  <array>
    <string>i</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
  </array>
  <key>@MMK_R_n</key>
  <array>
    <string>n</string>
    <string>ntilde</string>
  </array>
  <key>@MMK_R_u</key>
  <array>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
  </array>
  <key>@MMK_R_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
</dict>
</plist>
