<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>stems</key>
    <dict>
      <key>X: 100</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>110</key>
          <integer>6</integer>
          <key>29</key>
          <integer>2</integer>
          <key>50</key>
          <integer>3</integer>
          <key>67</key>
          <integer>4</integer>
          <key>86</key>
          <integer>5</integer>
        </dict>
        <key>width</key>
        <integer>100</integer>
      </dict>
      <key>X: 116</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>29</key>
          <integer>2</integer>
          <key>38</key>
          <integer>3</integer>
          <key>67</key>
          <integer>4</integer>
          <key>86</key>
          <integer>5</integer>
          <key>95</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>116</integer>
      </dict>
      <key>X: 150</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>38</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>60</key>
          <integer>5</integer>
          <key>74</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>150</integer>
      </dict>
      <key>X: 200</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>34</key>
          <integer>4</integer>
          <key>43</key>
          <integer>5</integer>
          <key>55</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>200</integer>
      </dict>
      <key>X: 369</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>3</integer>
          <key>19</key>
          <integer>4</integer>
          <key>25</key>
          <integer>5</integer>
          <key>30</key>
          <integer>6</integer>
          <key>9</key>
          <integer>2</integer>
        </dict>
        <key>width</key>
        <integer>369</integer>
      </dict>
      <key>Y: 100</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>110</key>
          <integer>6</integer>
          <key>29</key>
          <integer>2</integer>
          <key>50</key>
          <integer>3</integer>
          <key>67</key>
          <integer>4</integer>
          <key>86</key>
          <integer>5</integer>
        </dict>
        <key>width</key>
        <integer>100</integer>
      </dict>
      <key>Y: 150</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>38</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>60</key>
          <integer>5</integer>
          <key>74</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>150</integer>
      </dict>
      <key>Y: 200</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>34</key>
          <integer>4</integer>
          <key>43</key>
          <integer>5</integer>
          <key>55</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>200</integer>
      </dict>
      <key>Y: 216</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>34</key>
          <integer>4</integer>
          <key>43</key>
          <integer>5</integer>
          <key>51</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>216</integer>
      </dict>
      <key>Y: 228</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>34</key>
          <integer>4</integer>
          <key>43</key>
          <integer>5</integer>
          <key>49</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>228</integer>
      </dict>
    </dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
        <key>width</key>
        <integer>29</integer>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-500</integer>
        <key>top</key>
        <false/>
        <key>width</key>
        <integer>25</integer>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>1133</integer>
        <key>top</key>
        <true/>
        <key>width</key>
        <integer>0</integer>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>1527</integer>
        <key>top</key>
        <true/>
        <key>width</key>
        <integer>0</integer>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>nbspace</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>sfthyphen</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>OE</string>
    <string>oe</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Ydieresis</string>
    <string>florin</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>Alpha</string>
    <string>Beta</string>
    <string>Gamma</string>
    <string>Deltagreek</string>
    <string>Epsilon</string>
    <string>Zeta</string>
    <string>Eta</string>
    <string>Theta</string>
    <string>Iota</string>
    <string>Kappa</string>
    <string>Lambda</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Xi</string>
    <string>Omicron</string>
    <string>Rho</string>
    <string>Sigma</string>
    <string>Tau</string>
    <string>Upsilon</string>
    <string>Phi</string>
    <string>Chi</string>
    <string>Psi</string>
    <string>Omegagreek</string>
    <string>alpha</string>
    <string>beta</string>
    <string>gamma</string>
    <string>delta</string>
    <string>epsilon</string>
    <string>zeta</string>
    <string>eta</string>
    <string>theta</string>
    <string>iota</string>
    <string>kappa</string>
    <string>lambda</string>
    <string>mugreek</string>
    <string>nu</string>
    <string>xi</string>
    <string>omicron</string>
    <string>pi</string>
    <string>sigma1</string>
    <string>sigma</string>
    <string>tau</string>
    <string>upsilon</string>
    <string>phi</string>
    <string>chi</string>
    <string>psi</string>
    <string>omega</string>
    <string>theta1</string>
    <string>Upsilon1</string>
    <string>phi1</string>
    <string>omega1</string>
    <string>hyphentwo</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quotationdash</string>
    <string>dblverticalbar</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>triangularbullet</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>pertenthousandsign</string>
    <string>minute</string>
    <string>second</string>
    <string>tripleprime</string>
    <string>primereversed</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>asterism</string>
    <string>twoasterisksvertical</string>
    <string>zerosuperior</string>
    <string>ismallsuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>plussuperior</string>
    <string>minussuperior</string>
    <string>equalsuperior</string>
    <string>parenleftsuperior</string>
    <string>parenrightsuperior</string>
    <string>nsuperior</string>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>heightinferior</string>
    <string>nineinferior</string>
    <string>plusinferior</string>
    <string>minusinferior</string>
    <string>equalinferior</string>
    <string>parenleftinferior</string>
    <string>parenrightinferior</string>
    <string>Euro</string>
    <string>indianrupee</string>
    <string>centigrade</string>
    <string>fahrenheit</string>
    <string>Ifraktur</string>
    <string>lsquare</string>
    <string>weierstrass</string>
    <string>Rfraktur</string>
    <string>trademark</string>
    <string>Ohm</string>
    <string>angstrom</string>
    <string>scriptsmallo</string>
    <string>aleph</string>
    <string>onethirds</string>
    <string>twothirds</string>
    <string>onefifth</string>
    <string>twofifths</string>
    <string>threefifths</string>
    <string>fourfifths</string>
    <string>onesixth</string>
    <string>fivesixths</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>fractionnumeratorone</string>
    <string>Oneroman</string>
    <string>Tworoman</string>
    <string>Threeroman</string>
    <string>Fourroman</string>
    <string>Fiveroman</string>
    <string>Sixroman</string>
    <string>Sevenroman</string>
    <string>Eightroman</string>
    <string>Nineroman</string>
    <string>Tenroman</string>
    <string>Elevenroman</string>
    <string>Twelveroman</string>
    <string>oneroman</string>
    <string>tworoman</string>
    <string>threeroman</string>
    <string>fourroman</string>
    <string>fiveroman</string>
    <string>sixroman</string>
    <string>sevenroman</string>
    <string>eightroman</string>
    <string>nineroman</string>
    <string>tenroman</string>
    <string>elevenroman</string>
    <string>twelveroman</string>
    <string>arrowleft</string>
    <string>arrowup</string>
    <string>arrowright</string>
    <string>arrowdown</string>
    <string>arrowboth</string>
    <string>arrowupdn</string>
    <string>arrowupleft</string>
    <string>arrowupright</string>
    <string>arrowdownright</string>
    <string>arrowdownleft</string>
    <string>leftwardsarrowwithhook</string>
    <string>rightwardsarrowwithhook</string>
    <string>downwardsarrowwithtiprightwards</string>
    <string>carriagereturn</string>
    <string>undo</string>
    <string>redo</string>
    <string>arrowdblleft</string>
    <string>arrowdblup</string>
    <string>arrowdblright</string>
    <string>arrowdbldown</string>
    <string>arrowdblleftright</string>
    <string>arrowdblupdown</string>
    <string>arrowdblnorthwest</string>
    <string>arrowdblnortheast</string>
    <string>arrowdblsoutheast</string>
    <string>arrowdblsouthwest</string>
    <string>pageup</string>
    <string>pagedown</string>
    <string>leftwardsdashedarrow</string>
    <string>upwardsdashedarrow</string>
    <string>rightwardsdashedarrow</string>
    <string>downwardsdashedarrow</string>
    <string>shift</string>
    <string>capslock</string>
    <string>universal</string>
    <string>complement</string>
    <string>partialdiff</string>
    <string>existential</string>
    <string>theredoesnotexist</string>
    <string>emptyset</string>
    <string>gradient</string>
    <string>element</string>
    <string>notelement</string>
    <string>suchthat</string>
    <string>doesnotcontainasmember</string>
    <string>minus</string>
    <string>minusplus</string>
    <string>ringoperator</string>
    <string>radical</string>
    <string>proportional</string>
    <string>infinity</string>
    <string>sphericalangle</string>
    <string>parallelto</string>
    <string>logicaland</string>
    <string>logicalor</string>
    <string>intersection</string>
    <string>union</string>
    <string>integral</string>
    <string>contourintegral</string>
    <string>therefore</string>
    <string>because</string>
    <string>similar</string>
    <string>asymptoticallyequal</string>
    <string>congruent</string>
    <string>approxequal</string>
    <string>estimate</string>
    <string>notequal</string>
    <string>equivalence</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>propersubset</string>
    <string>propersuperset</string>
    <string>reflexsubset</string>
    <string>reflexsuperset</string>
    <string>circleplus</string>
    <string>circleminus</string>
    <string>circlemultiply</string>
    <string>circledivide</string>
    <string>perpendicular</string>
    <string>staroperator</string>
    <string>verticalellipsis</string>
    <string>house</string>
    <string>leftceiling</string>
    <string>rightceiling</string>
    <string>leftfloor</string>
    <string>rightfloor</string>
    <string>topleftcorner</string>
    <string>toprightcorner</string>
    <string>bottomleftcorner</string>
    <string>bottomrightcorner</string>
    <string>blackrightpointingtriangle</string>
    <string>whiterightpointingtriangle</string>
    <string>blackrightpointingsmall</string>
    <string>whiterightpointingsmall</string>
    <string>blackdownpointingtriangle</string>
    <string>whitedownpointingtriangle</string>
    <string>blackdownpointingsmalltriangle</string>
    <string>whitedownpointingsmalltriangle</string>
    <string>fisheye</string>
    <string>bullseye</string>
    <string>blackcircle</string>
    <string>circlewithlefthalfblack</string>
    <string>circlewithrighthalfblack</string>
    <string>circlewithlowerhalfblack</string>
    <string>circlewithupperhalfblack</string>
    <string>day</string>
    <string>cloud</string>
    <string>umbrella</string>
    <string>snowman</string>
    <string>blackstar</string>
    <string>phone</string>
    <string>emptybox</string>
    <string>boxwithacheck</string>
    <string>boxwithaX</string>
    <string>frowningface</string>
    <string>smileface</string>
    <string>sun</string>
    <string>night</string>
    <string>spade</string>
    <string>heartsuitwhite</string>
    <string>diamondsuitwhite</string>
    <string>club</string>
    <string>flag1</string>
    <string>flag2</string>
    <string>warning</string>
    <string>highvoltage</string>
    <string>plane</string>
    <string>mail</string>
    <string>checkmark</string>
    <string>whitecircledone</string>
    <string>whitecircledtwo</string>
    <string>whitecircledthree</string>
    <string>whitecircledfour</string>
    <string>whitecircledfive</string>
    <string>whitecircledsix</string>
    <string>whitecircledseven</string>
    <string>whitecircledeight</string>
    <string>whitecirclednine</string>
    <string>whitecircledzero</string>
    <string>blackcircledone</string>
    <string>blackcircledtwo</string>
    <string>blackcircledthree</string>
    <string>blackcircledfour</string>
    <string>blackcircledfive</string>
    <string>blackcircledsix</string>
    <string>blackcircledseven</string>
    <string>blackcircledeight</string>
    <string>blackcirclednine</string>
    <string>blackcircledzero</string>
    <string>widerightwardsarrow</string>
    <string>ff</string>
    <string>fi</string>
    <string>fl</string>
    <string>st</string>
    <string>ffi</string>
    <string>ffl</string>
    <string>ft</string>
    <string>takeoff</string>
    <string>climb</string>
    <string>cruise</string>
    <string>descent</string>
    <string>landing</string>
    <string>levelup</string>
    <string>leveldown</string>
    <string>slashedzero</string>
    <string>hot</string>
    <string>cold</string>
    <string>dry</string>
    <string>wet</string>
    <string>slush</string>
    <string>ice</string>
    <string>lightning</string>
    <string>fog</string>
    <string>wind</string>
    <string>windbarb</string>
    <string>hourglass</string>
    <string>clock</string>
    <string>clockwiseclock</string>
    <string>counterclockwiseclock</string>
    <string>phonein</string>
    <string>phoneout</string>
    <string>slashedphone</string>
    <string>mailin</string>
    <string>mailout</string>
    <string>slashedmail</string>
    <string>wifiin</string>
    <string>wifiout</string>
    <string>slashedwifi</string>
    <string>comsatin</string>
    <string>comsatout</string>
    <string>slashedcomsat</string>
    <string>radioin</string>
    <string>radioout</string>
    <string>slashedradio</string>
    <string>slashedspeaker</string>
    <string>speakerlow</string>
    <string>speakerhigh</string>
    <string>eject</string>
    <string>play</string>
    <string>rewind</string>
    <string>pause</string>
    <string>stop</string>
    <string>start</string>
    <string>end</string>
    <string>fastrewind</string>
    <string>fastforward</string>
    <string>back</string>
    <string>next</string>
    <string>standby</string>
    <string>zoomin</string>
    <string>zoomout</string>
    <string>save</string>
    <string>erase</string>
    <string>print</string>
    <string>trash</string>
    <string>import</string>
    <string>export</string>
    <string>send</string>
    <string>return</string>
    <string>copy</string>
    <string>paste</string>
    <string>close</string>
    <string>suppr</string>
    <string>add</string>
    <string>help</string>
    <string>info</string>
    <string>smileyneutral</string>
    <string>update</string>
    <string>noentry</string>
    <string>noparking</string>
    <string>NULL</string>
  </array>
</dict>
</plist>
