<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Alpha</key>
  <string>A_lpha.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Beta</key>
  <string>B_eta.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Chi</key>
  <string>C_hi.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Deltagreek</key>
  <string>D_eltagreek.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Epsilon</key>
  <string>E_psilon.glif</string>
  <key>Eta</key>
  <string>E_ta.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gamma</key>
  <string>G_amma.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Ifraktur</key>
  <string>I_fraktur.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Iota</key>
  <string>I_ota.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kappa</key>
  <string>K_appa.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lambda</key>
  <string>L_ambda.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Mu</key>
  <string>M_u.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>Nu</key>
  <string>N_u.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>Omegagreek</key>
  <string>O_megagreek.glif</string>
  <key>Omicron</key>
  <string>O_micron.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Phi</key>
  <string>P_hi.glif</string>
  <key>Psi</key>
  <string>P_si.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Rfraktur</key>
  <string>R_fraktur.glif</string>
  <key>Rho</key>
  <string>R_ho.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Sigma</key>
  <string>S_igma.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tau</key>
  <string>T_au.glif</string>
  <key>Theta</key>
  <string>T_heta.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Upsilon</key>
  <string>U_psilon.glif</string>
  <key>Upsilon1</key>
  <string>U_psilon1.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Xi</key>
  <string>X_i.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zeta</key>
  <string>Z_eta.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>add</key>
  <string>add.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>aleph</key>
  <string>aleph.glif</string>
  <key>alpha</key>
  <string>alpha.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>angstrom</key>
  <string>angstrom.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>arrowboth</key>
  <string>arrowboth.glif</string>
  <key>arrowdbldown</key>
  <string>arrowdbldown.glif</string>
  <key>arrowdblleft</key>
  <string>arrowdblleft.glif</string>
  <key>arrowdblleftright</key>
  <string>arrowdblleftright.glif</string>
  <key>arrowdblnortheast</key>
  <string>arrowdblnortheast.glif</string>
  <key>arrowdblnorthwest</key>
  <string>arrowdblnorthwest.glif</string>
  <key>arrowdblright</key>
  <string>arrowdblright.glif</string>
  <key>arrowdblsoutheast</key>
  <string>arrowdblsoutheast.glif</string>
  <key>arrowdblsouthwest</key>
  <string>arrowdblsouthwest.glif</string>
  <key>arrowdblup</key>
  <string>arrowdblup.glif</string>
  <key>arrowdblupdown</key>
  <string>arrowdblupdown.glif</string>
  <key>arrowdown</key>
  <string>arrowdown.glif</string>
  <key>arrowdownleft</key>
  <string>arrowdownleft.glif</string>
  <key>arrowdownright</key>
  <string>arrowdownright.glif</string>
  <key>arrowleft</key>
  <string>arrowleft.glif</string>
  <key>arrowright</key>
  <string>arrowright.glif</string>
  <key>arrowup</key>
  <string>arrowup.glif</string>
  <key>arrowupdn</key>
  <string>arrowupdn.glif</string>
  <key>arrowupleft</key>
  <string>arrowupleft.glif</string>
  <key>arrowupright</key>
  <string>arrowupright.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>asterism</key>
  <string>asterism.glif</string>
  <key>asymptoticallyequal</key>
  <string>asymptoticallyequal.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>back</key>
  <string>back.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>because</key>
  <string>because.glif</string>
  <key>beta</key>
  <string>beta.glif</string>
  <key>blackcircle</key>
  <string>blackcircle.glif</string>
  <key>blackcircledeight</key>
  <string>blackcircledeight.glif</string>
  <key>blackcircledfive</key>
  <string>blackcircledfive.glif</string>
  <key>blackcircledfour</key>
  <string>blackcircledfour.glif</string>
  <key>blackcirclednine</key>
  <string>blackcirclednine.glif</string>
  <key>blackcircledone</key>
  <string>blackcircledone.glif</string>
  <key>blackcircledseven</key>
  <string>blackcircledseven.glif</string>
  <key>blackcircledsix</key>
  <string>blackcircledsix.glif</string>
  <key>blackcircledthree</key>
  <string>blackcircledthree.glif</string>
  <key>blackcircledtwo</key>
  <string>blackcircledtwo.glif</string>
  <key>blackcircledzero</key>
  <string>blackcircledzero.glif</string>
  <key>blackdownpointingsmalltriangle</key>
  <string>blackdownpointingsmalltriangle.glif</string>
  <key>blackdownpointingtriangle</key>
  <string>blackdownpointingtriangle.glif</string>
  <key>blackrightpointingsmall</key>
  <string>blackrightpointingsmall.glif</string>
  <key>blackrightpointingtriangle</key>
  <string>blackrightpointingtriangle.glif</string>
  <key>blackstar</key>
  <string>blackstar.glif</string>
  <key>bottomleftcorner</key>
  <string>bottomleftcorner.glif</string>
  <key>bottomrightcorner</key>
  <string>bottomrightcorner.glif</string>
  <key>boxwithaX</key>
  <string>boxwithaX_.glif</string>
  <key>boxwithacheck</key>
  <string>boxwithacheck.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bullseye</key>
  <string>bullseye.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>capslock</key>
  <string>capslock.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>carriagereturn</key>
  <string>carriagereturn.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>centigrade</key>
  <string>centigrade.glif</string>
  <key>checkmark</key>
  <string>checkmark.glif</string>
  <key>chi</key>
  <string>chi.glif</string>
  <key>circledivide</key>
  <string>circledivide.glif</string>
  <key>circleminus</key>
  <string>circleminus.glif</string>
  <key>circlemultiply</key>
  <string>circlemultiply.glif</string>
  <key>circleplus</key>
  <string>circleplus.glif</string>
  <key>circlewithlefthalfblack</key>
  <string>circlewithlefthalfblack.glif</string>
  <key>circlewithlowerhalfblack</key>
  <string>circlewithlowerhalfblack.glif</string>
  <key>circlewithrighthalfblack</key>
  <string>circlewithrighthalfblack.glif</string>
  <key>circlewithupperhalfblack</key>
  <string>circlewithupperhalfblack.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>climb</key>
  <string>climb.glif</string>
  <key>clock</key>
  <string>clock.glif</string>
  <key>clockwiseclock</key>
  <string>clockwiseclock.glif</string>
  <key>close</key>
  <string>close.glif</string>
  <key>cloud</key>
  <string>cloud.glif</string>
  <key>club</key>
  <string>club.glif</string>
  <key>cold</key>
  <string>cold.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>complement</key>
  <string>complement.glif</string>
  <key>comsatin</key>
  <string>comsatin.glif</string>
  <key>comsatout</key>
  <string>comsatout.glif</string>
  <key>congruent</key>
  <string>congruent.glif</string>
  <key>contourintegral</key>
  <string>contourintegral.glif</string>
  <key>copy</key>
  <string>copy.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>counterclockwiseclock</key>
  <string>counterclockwiseclock.glif</string>
  <key>cruise</key>
  <string>cruise.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>day</key>
  <string>day.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>delta</key>
  <string>delta.glif</string>
  <key>descent</key>
  <string>descent.glif</string>
  <key>diamondsweetwhite</key>
  <string>diamondsweetwhite.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>doesnotcontainasmember</key>
  <string>doesnotcontainasmember.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>doubleprime</key>
  <string>doubleprime.glif</string>
  <key>doubleverticalline</key>
  <string>doubleverticalline.glif</string>
  <key>downwardsarrowwithtiprightwards</key>
  <string>downwardsarrowwithtiprightwards.glif</string>
  <key>downwardsdashedarrow</key>
  <string>downwardsdashedarrow.glif</string>
  <key>dry</key>
  <string>dry.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eject</key>
  <string>eject.glif</string>
  <key>element</key>
  <string>element.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emptybox</key>
  <string>emptybox.glif</string>
  <key>emptyset</key>
  <string>emptyset.glif</string>
  <key>end</key>
  <string>end.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>epsilon</key>
  <string>epsilon.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>equivalence</key>
  <string>equivalence.glif</string>
  <key>erase</key>
  <string>erase.glif</string>
  <key>estimate</key>
  <string>estimate.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>existential</key>
  <string>existential.glif</string>
  <key>export</key>
  <string>export.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fahrenheit</key>
  <string>fahrenheit.glif</string>
  <key>fastforward</key>
  <string>fastforward.glif</string>
  <key>fastrewind</key>
  <string>fastrewind.glif</string>
  <key>ffligature</key>
  <string>ffligature.glif</string>
  <key>filigature</key>
  <string>filigature.glif</string>
  <key>fisheye</key>
  <string>fisheye.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fiveeighths</key>
  <string>fiveeighths.glif</string>
  <key>fivesixths</key>
  <string>fivesixths.glif</string>
  <key>flag1</key>
  <string>flag1.glif</string>
  <key>flag2</key>
  <string>flag2.glif</string>
  <key>flligature</key>
  <string>flligature.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>fog</key>
  <string>fog.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fourfifths</key>
  <string>fourfifths.glif</string>
  <key>fractionnumeratorone</key>
  <string>fractionnumeratorone.glif</string>
  <key>frowningface</key>
  <string>frowningface.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gamma</key>
  <string>gamma.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>gradient</key>
  <string>gradient.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>heartsweetwhite</key>
  <string>heartsweetwhite.glif</string>
  <key>help</key>
  <string>help.glif</string>
  <key>highvoltage</key>
  <string>highvoltage.glif</string>
  <key>hot</key>
  <string>hot.glif</string>
  <key>hourglass</key>
  <string>hourglass.glif</string>
  <key>house</key>
  <string>house.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>ice</key>
  <string>ice.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>import</key>
  <string>import.glif</string>
  <key>indianrupee</key>
  <string>indianrupee.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>info</key>
  <string>info.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>intersection</key>
  <string>intersection.glif</string>
  <key>iota</key>
  <string>iota.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kappa</key>
  <string>kappa.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lambda</key>
  <string>lambda.glif</string>
  <key>landing</key>
  <string>landing.glif</string>
  <key>leftceiling</key>
  <string>leftceiling.glif</string>
  <key>leftfloor</key>
  <string>leftfloor.glif</string>
  <key>leftwardsarrowwithhook</key>
  <string>leftwardsarrowwithhook.glif</string>
  <key>leftwardsdashedarrow</key>
  <string>leftwardsdashedarrow.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>leveldown</key>
  <string>leveldown.glif</string>
  <key>levelup</key>
  <string>levelup.glif</string>
  <key>lightning</key>
  <string>lightning.glif</string>
  <key>logicaland</key>
  <string>logicaland.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>logicalor</key>
  <string>logicalor.glif</string>
  <key>lsquare</key>
  <string>lsquare.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>mail</key>
  <string>mail.glif</string>
  <key>mailin</key>
  <string>mailin.glif</string>
  <key>mailout</key>
  <string>mailout.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>minusplus</key>
  <string>minusplus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>next</key>
  <string>next.glif</string>
  <key>night</key>
  <string>night.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>noentry</key>
  <string>noentry.glif</string>
  <key>noparking</key>
  <string>noparking.glif</string>
  <key>notelement</key>
  <string>notelement.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>nu</key>
  <string>nu.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>omega</key>
  <string>omega.glif</string>
  <key>omega1</key>
  <string>omega1.glif</string>
  <key>omicron</key>
  <string>omicron.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>oneeighth</key>
  <string>oneeighth.glif</string>
  <key>onefifth</key>
  <string>onefifth.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesixth</key>
  <string>onesixth.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>onethirds</key>
  <string>onethirds.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>pagedown</key>
  <string>pagedown.glif</string>
  <key>pageup</key>
  <string>pageup.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parallelto</key>
  <string>parallelto.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>paste</key>
  <string>paste.glif</string>
  <key>pause</key>
  <string>pause.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perpendicular</key>
  <string>perpendicular.glif</string>
  <key>pertenthousandsign</key>
  <string>pertenthousandsign.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>phi</key>
  <string>phi.glif</string>
  <key>phi1</key>
  <string>phi1.glif</string>
  <key>phone</key>
  <string>phone.glif</string>
  <key>phonein</key>
  <string>phonein.glif</string>
  <key>phoneout</key>
  <string>phoneout.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plane</key>
  <string>plane.glif</string>
  <key>play</key>
  <string>play.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>prime</key>
  <string>prime.glif</string>
  <key>print</key>
  <string>print.glif</string>
  <key>propersubset</key>
  <string>propersubset.glif</string>
  <key>propersuperset</key>
  <string>propersuperset.glif</string>
  <key>proportional</key>
  <string>proportional.glif</string>
  <key>psi</key>
  <string>psi.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotationdash</key>
  <string>quotationdash.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>radioin</key>
  <string>radioin.glif</string>
  <key>radioout</key>
  <string>radioout.glif</string>
  <key>redo</key>
  <string>redo.glif</string>
  <key>reflexsubset</key>
  <string>reflexsubset.glif</string>
  <key>reflexsuperset</key>
  <string>reflexsuperset.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>return</key>
  <string>return.glif</string>
  <key>reversedprime</key>
  <string>reversedprime.glif</string>
  <key>rewind</key>
  <string>rewind.glif</string>
  <key>rightceiling</key>
  <string>rightceiling.glif</string>
  <key>rightfloor</key>
  <string>rightfloor.glif</string>
  <key>rightwardsarrowwithhook</key>
  <string>rightwardsarrowwithhook.glif</string>
  <key>rightwardsdashedarrow</key>
  <string>rightwardsdashedarrow.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringoperator</key>
  <string>ringoperator.glif</string>
  <key>romannumeraleight</key>
  <string>romannumeraleight.glif</string>
  <key>romannumeraleleven</key>
  <string>romannumeraleleven.glif</string>
  <key>romannumeralfive</key>
  <string>romannumeralfive.glif</string>
  <key>romannumeralfour</key>
  <string>romannumeralfour.glif</string>
  <key>romannumeralnine</key>
  <string>romannumeralnine.glif</string>
  <key>romannumeralone</key>
  <string>romannumeralone.glif</string>
  <key>romannumeralseven</key>
  <string>romannumeralseven.glif</string>
  <key>romannumeralsix</key>
  <string>romannumeralsix.glif</string>
  <key>romannumeralten</key>
  <string>romannumeralten.glif</string>
  <key>romannumeralthree</key>
  <string>romannumeralthree.glif</string>
  <key>romannumeraltwelve</key>
  <string>romannumeraltwelve.glif</string>
  <key>romannumeraltwo</key>
  <string>romannumeraltwo.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>save</key>
  <string>save.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scriptsmallo</key>
  <string>scriptsmallo.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>send</key>
  <string>send.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seveneighths</key>
  <string>seveneighths.glif</string>
  <key>sfthyphen</key>
  <string>sfthyphen.glif</string>
  <key>shift</key>
  <string>shift.glif</string>
  <key>sigma</key>
  <string>sigma.glif</string>
  <key>sigma1</key>
  <string>sigma1.glif</string>
  <key>similar</key>
  <string>similar.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>slashedcomsat</key>
  <string>slashedcomsat.glif</string>
  <key>slashedmail</key>
  <string>slashedmail.glif</string>
  <key>slashedphone</key>
  <string>slashedphone.glif</string>
  <key>slashedradio</key>
  <string>slashedradio.glif</string>
  <key>slashedspeaker</key>
  <string>slashedspeaker.glif</string>
  <key>slashedwifi</key>
  <string>slashedwifi.glif</string>
  <key>slashedzero</key>
  <string>slashedzero.glif</string>
  <key>slush</key>
  <string>slush.glif</string>
  <key>smallromannumeraleight</key>
  <string>smallromannumeraleight.glif</string>
  <key>smallromannumeraleleven</key>
  <string>smallromannumeraleleven.glif</string>
  <key>smallromannumeralfive</key>
  <string>smallromannumeralfive.glif</string>
  <key>smallromannumeralfour</key>
  <string>smallromannumeralfour.glif</string>
  <key>smallromannumeralnine</key>
  <string>smallromannumeralnine.glif</string>
  <key>smallromannumeralone</key>
  <string>smallromannumeralone.glif</string>
  <key>smallromannumeralseven</key>
  <string>smallromannumeralseven.glif</string>
  <key>smallromannumeralsix</key>
  <string>smallromannumeralsix.glif</string>
  <key>smallromannumeralten</key>
  <string>smallromannumeralten.glif</string>
  <key>smallromannumeralthree</key>
  <string>smallromannumeralthree.glif</string>
  <key>smallromannumeraltwelve</key>
  <string>smallromannumeraltwelve.glif</string>
  <key>smallromannumeraltwo</key>
  <string>smallromannumeraltwo.glif</string>
  <key>smileyneutral</key>
  <string>smileyneutral.glif</string>
  <key>smilingface</key>
  <string>smilingface.glif</string>
  <key>snowman</key>
  <string>snowman.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>spade</key>
  <string>spade.glif</string>
  <key>speakerhigh</key>
  <string>speakerhigh.glif</string>
  <key>speakerlow</key>
  <string>speakerlow.glif</string>
  <key>sphericalangle</key>
  <string>sphericalangle.glif</string>
  <key>standby</key>
  <string>standby.glif</string>
  <key>staroperator</key>
  <string>staroperator.glif</string>
  <key>start</key>
  <string>start.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>stligature</key>
  <string>stligature.glif</string>
  <key>stop</key>
  <string>stop.glif</string>
  <key>subscripteight</key>
  <string>subscripteight.glif</string>
  <key>subscriptequals</key>
  <string>subscriptequals.glif</string>
  <key>subscriptfive</key>
  <string>subscriptfive.glif</string>
  <key>subscriptfour</key>
  <string>subscriptfour.glif</string>
  <key>subscriptleftparenthesis</key>
  <string>subscriptleftparenthesis.glif</string>
  <key>subscriptminus</key>
  <string>subscriptminus.glif</string>
  <key>subscriptnine</key>
  <string>subscriptnine.glif</string>
  <key>subscriptone</key>
  <string>subscriptone.glif</string>
  <key>subscriptplussign</key>
  <string>subscriptplussign.glif</string>
  <key>subscriptrightparenthesis</key>
  <string>subscriptrightparenthesis.glif</string>
  <key>subscriptseven</key>
  <string>subscriptseven.glif</string>
  <key>subscriptsix</key>
  <string>subscriptsix.glif</string>
  <key>subscriptthree</key>
  <string>subscriptthree.glif</string>
  <key>subscripttwo</key>
  <string>subscripttwo.glif</string>
  <key>subscriptzero</key>
  <string>subscriptzero.glif</string>
  <key>suchthat</key>
  <string>suchthat.glif</string>
  <key>sun</key>
  <string>sun.glif</string>
  <key>superscripteight</key>
  <string>superscripteight.glif</string>
  <key>superscriptequalssign</key>
  <string>superscriptequalssign.glif</string>
  <key>superscriptfive</key>
  <string>superscriptfive.glif</string>
  <key>superscriptfour</key>
  <string>superscriptfour.glif</string>
  <key>superscriptleftparenthesis</key>
  <string>superscriptleftparenthesis.glif</string>
  <key>superscriptminus</key>
  <string>superscriptminus.glif</string>
  <key>superscriptnine</key>
  <string>superscriptnine.glif</string>
  <key>superscriptplussign</key>
  <string>superscriptplussign.glif</string>
  <key>superscriptrightparenthesis</key>
  <string>superscriptrightparenthesis.glif</string>
  <key>superscriptseven</key>
  <string>superscriptseven.glif</string>
  <key>superscriptsix</key>
  <string>superscriptsix.glif</string>
  <key>superscriptsmalli</key>
  <string>superscriptsmalli.glif</string>
  <key>superscriptsmalln</key>
  <string>superscriptsmalln.glif</string>
  <key>suppr</key>
  <string>suppr.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>takeoff</key>
  <string>takeoff.glif</string>
  <key>tau</key>
  <string>tau.glif</string>
  <key>theredoesnotexist</key>
  <string>theredoesnotexist.glif</string>
  <key>therefore</key>
  <string>therefore.glif</string>
  <key>theta</key>
  <string>theta.glif</string>
  <key>theta1</key>
  <string>theta1.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threeeighths</key>
  <string>threeeighths.glif</string>
  <key>threefifths</key>
  <string>threefifths.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>topleftcorner</key>
  <string>topleftcorner.glif</string>
  <key>toprightcorner</key>
  <string>toprightcorner.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>trash</key>
  <string>trash.glif</string>
  <key>triangularbullet</key>
  <string>triangularbullet.glif</string>
  <key>tripleprime</key>
  <string>tripleprime.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twoasterisksvertical</key>
  <string>twoasterisksvertical.glif</string>
  <key>twofifths</key>
  <string>twofifths.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>twothirds</key>
  <string>twothirds.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>umbrella</key>
  <string>umbrella.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>undo</key>
  <string>undo.glif</string>
  <key>uni03BC</key>
  <string>uni03B_C_.glif</string>
  <key>union</key>
  <string>union.glif</string>
  <key>universal</key>
  <string>universal.glif</string>
  <key>update</key>
  <string>update.glif</string>
  <key>upsilon</key>
  <string>upsilon.glif</string>
  <key>upwardsdashedarrow</key>
  <string>upwardsdashedarrow.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>verticalellipsis</key>
  <string>verticalellipsis.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>warning</key>
  <string>warning.glif</string>
  <key>weierstrass</key>
  <string>weierstrass.glif</string>
  <key>wet</key>
  <string>wet.glif</string>
  <key>whitecircledeight</key>
  <string>whitecircledeight.glif</string>
  <key>whitecircledfive</key>
  <string>whitecircledfive.glif</string>
  <key>whitecircledfour</key>
  <string>whitecircledfour.glif</string>
  <key>whitecirclednine</key>
  <string>whitecirclednine.glif</string>
  <key>whitecircledone</key>
  <string>whitecircledone.glif</string>
  <key>whitecircledseven</key>
  <string>whitecircledseven.glif</string>
  <key>whitecircledsix</key>
  <string>whitecircledsix.glif</string>
  <key>whitecircledthree</key>
  <string>whitecircledthree.glif</string>
  <key>whitecircledtwo</key>
  <string>whitecircledtwo.glif</string>
  <key>whitecircledzero</key>
  <string>whitecircledzero.glif</string>
  <key>whitedownpointingsmalltriangle</key>
  <string>whitedownpointingsmalltriangle.glif</string>
  <key>whitedownpointingtriangle</key>
  <string>whitedownpointingtriangle.glif</string>
  <key>whiterightpointingsmall</key>
  <string>whiterightpointingsmall.glif</string>
  <key>whiterightpointingtriangle</key>
  <string>whiterightpointingtriangle.glif</string>
  <key>widerightwardsarrow</key>
  <string>widerightwardsarrow.glif</string>
  <key>wifiin</key>
  <string>wifiin.glif</string>
  <key>wifiout</key>
  <string>wifiout.glif</string>
  <key>wind</key>
  <string>wind.glif</string>
  <key>windbarb</key>
  <string>windbarb.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>xi</key>
  <string>xi.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
  <key>zeta</key>
  <string>zeta.glif</string>
  <key>zoomin</key>
  <string>zoomin.glif</string>
  <key>zoomout</key>
  <string>zoomout.glif</string>
</dict>
</plist>
