<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_B</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>@MMK_R_i</key>
    <integer>-100</integer>
    <key>@MMK_R_u</key>
    <integer>-100</integer>
    <key>@MMK_R_y</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-100</integer>
    <key>W</key>
    <integer>-100</integer>
    <key>b</key>
    <integer>-100</integer>
    <key>h</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
    <key>k</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
    <key>p</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_C</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_E</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_O</key>
  <dict>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>@MMK_R_i</key>
    <integer>-100</integer>
    <key>D</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-100</integer>
    <key>W</key>
    <integer>-100</integer>
    <key>X</key>
    <integer>-100</integer>
    <key>b</key>
    <integer>-100</integer>
    <key>h</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_S</key>
  <dict>
    <key>V</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_U</key>
  <dict>
    <key>@MMK_R_A</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_Y</key>
  <dict>
    <key>@MMK_R_A</key>
    <integer>-100</integer>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>@MMK_R_a</key>
    <integer>-100</integer>
    <key>@MMK_R_c</key>
    <integer>-100</integer>
    <key>@MMK_R_e</key>
    <integer>-100</integer>
    <key>@MMK_R_i</key>
    <integer>-100</integer>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>@MMK_R_u</key>
    <integer>-100</integer>
    <key>@MMK_R_y</key>
    <integer>-100</integer>
    <key>b</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
    <key>g</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
    <key>k</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>q</key>
    <integer>-100</integer>
    <key>r</key>
    <integer>-100</integer>
    <key>v</key>
    <integer>-100</integer>
    <key>w</key>
    <integer>-100</integer>
    <key>x</key>
    <integer>-100</integer>
    <key>z</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_a</key>
  <dict>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>@MMK_R_s</key>
    <integer>100</integer>
    <key>T</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_c</key>
  <dict>
    <key>@MMK_R_i</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_e</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_n</key>
  <dict>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_o</key>
  <dict>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-200</integer>
    <key>V</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_s</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_u</key>
  <dict>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
  </dict>
  <key>@MMK_L_y</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
  </dict>
  <key>D</key>
  <dict>
    <key>@MMK_R_C</key>
    <integer>100</integer>
    <key>t</key>
    <integer>100</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>@MMK_R_A</key>
    <integer>-100</integer>
    <key>@MMK_R_a</key>
    <integer>-100</integer>
    <key>@MMK_R_c</key>
    <integer>-100</integer>
    <key>@MMK_R_e</key>
    <integer>-100</integer>
    <key>@MMK_R_i</key>
    <integer>-100</integer>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>@MMK_R_o</key>
    <integer>-100</integer>
    <key>@MMK_R_s</key>
    <integer>-100</integer>
    <key>@MMK_R_u</key>
    <integer>-100</integer>
    <key>@MMK_R_y</key>
    <integer>-100</integer>
    <key>b</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
    <key>g</key>
    <integer>-100</integer>
    <key>h</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
    <key>k</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>q</key>
    <integer>-100</integer>
    <key>r</key>
    <integer>-100</integer>
    <key>t</key>
    <integer>-100</integer>
    <key>v</key>
    <integer>-100</integer>
    <key>w</key>
    <integer>-100</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>@MMK_R_o</key>
    <integer>100</integer>
    <key>Z</key>
    <integer>100</integer>
    <key>q</key>
    <integer>100</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>Q</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-150</integer>
    <key>W</key>
    <integer>-100</integer>
    <key>v</key>
    <integer>-100</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>@MMK_R_A</key>
    <integer>-100</integer>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>@MMK_R_a</key>
    <integer>-100</integer>
    <key>@MMK_R_c</key>
    <integer>-100</integer>
    <key>@MMK_R_e</key>
    <integer>-100</integer>
    <key>@MMK_R_i</key>
    <integer>-100</integer>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>@MMK_R_o</key>
    <integer>-100</integer>
    <key>@MMK_R_u</key>
    <integer>-100</integer>
    <key>L</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-100</integer>
    <key>X</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
    <key>g</key>
    <integer>-100</integer>
    <key>h</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>r</key>
    <integer>-100</integer>
    <key>x</key>
    <integer>-100</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>V</key>
    <integer>-100</integer>
    <key>W</key>
    <integer>-100</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-100</integer>
    <key>W</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>@MMK_R_A</key>
    <integer>-100</integer>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>@MMK_R_a</key>
    <integer>-100</integer>
    <key>@MMK_R_c</key>
    <integer>-100</integer>
    <key>@MMK_R_e</key>
    <integer>-100</integer>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>@MMK_R_o</key>
    <integer>-100</integer>
    <key>@MMK_R_s</key>
    <integer>-100</integer>
    <key>@MMK_R_u</key>
    <integer>-100</integer>
    <key>@MMK_R_y</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
    <key>g</key>
    <integer>-100</integer>
    <key>k</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>q</key>
    <integer>-100</integer>
    <key>r</key>
    <integer>-100</integer>
    <key>v</key>
    <integer>-100</integer>
    <key>w</key>
    <integer>-100</integer>
    <key>x</key>
    <integer>-100</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>@MMK_R_a</key>
    <integer>-100</integer>
    <key>@MMK_R_e</key>
    <integer>-100</integer>
    <key>@MMK_R_i</key>
    <integer>-100</integer>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>@MMK_R_o</key>
    <integer>-100</integer>
    <key>@MMK_R_u</key>
    <integer>-100</integer>
    <key>@MMK_R_y</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
    <key>g</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
    <key>k</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>q</key>
    <integer>-100</integer>
    <key>r</key>
    <integer>-100</integer>
    <key>v</key>
    <integer>-100</integer>
    <key>w</key>
    <integer>-100</integer>
    <key>x</key>
    <integer>-100</integer>
    <key>z</key>
    <integer>-100</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>@MMK_R_A</key>
    <integer>-100</integer>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>@MMK_R_e</key>
    <integer>-100</integer>
    <key>@MMK_R_i</key>
    <integer>-100</integer>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>@MMK_R_u</key>
    <integer>-100</integer>
    <key>@MMK_R_y</key>
    <integer>-100</integer>
    <key>Q</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
    <key>g</key>
    <integer>-100</integer>
    <key>h</key>
    <integer>-100</integer>
    <key>j</key>
    <integer>-100</integer>
    <key>k</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>q</key>
    <integer>-100</integer>
    <key>r</key>
    <integer>-100</integer>
    <key>v</key>
    <integer>-100</integer>
    <key>w</key>
    <integer>-100</integer>
    <key>x</key>
    <integer>-100</integer>
    <key>z</key>
    <integer>-100</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
  </dict>
  <key>d</key>
  <dict>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>@MMK_R_c</key>
    <integer>-100</integer>
    <key>@MMK_R_e</key>
    <integer>-100</integer>
    <key>@MMK_R_n</key>
    <integer>-100</integer>
    <key>@MMK_R_o</key>
    <integer>-100</integer>
    <key>@MMK_R_u</key>
    <integer>-100</integer>
    <key>b</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
    <key>f</key>
    <integer>-100</integer>
    <key>g</key>
    <integer>-100</integer>
    <key>l</key>
    <integer>-100</integer>
    <key>m</key>
    <integer>-100</integer>
    <key>p</key>
    <integer>-100</integer>
    <key>q</key>
    <integer>-100</integer>
    <key>w</key>
    <integer>-100</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>b</key>
    <integer>-100</integer>
  </dict>
  <key>h</key>
  <dict>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>@MMK_R_s</key>
    <integer>100</integer>
    <key>l</key>
    <integer>-100</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
    <key>l</key>
    <integer>-100</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
    <key>l</key>
    <integer>-100</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>@MMK_R_S</key>
    <integer>100</integer>
    <key>@MMK_R_s</key>
    <integer>100</integer>
    <key>@MMK_R_y</key>
    <integer>100</integer>
    <key>f</key>
    <integer>100</integer>
    <key>t</key>
    <integer>100</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>slash</key>
    <integer>-200</integer>
  </dict>
  <key>t</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
    <key>t</key>
    <integer>-100</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
    <key>d</key>
    <integer>-100</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>d</key>
    <integer>-100</integer>
  </dict>
  <key>z</key>
  <dict>
    <key>@MMK_R_O</key>
    <integer>-100</integer>
    <key>@MMK_R_Y</key>
    <integer>-100</integer>
    <key>T</key>
    <integer>-100</integer>
  </dict>
</dict>
</plist>
